.container{
  max-width: 850px;
}
.error> {
  span{
    color:red;
  }
  input{
    border-bottom: 1px solid red !important;//#9e9e9e;
  }
}
.fixed-action-btn{
  top:10px;
}

.form-buttons{
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  >:first-child{
    margin-right: 10px;
  }
}
.material-icons{
  cursor: pointer;
}


$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active {
    background:$main;
    color:$white;
  }
}

